<div class="dashboard">
  <div class="dashboard__area">
    <gridster [options]="options">
      <gridster-item
        *ngFor="let item of layout"
        [item]="item">
        <ng-container
          libQbswGridItem
          [componentRef]="item.componentId"
          [message]="item.componentId">
        </ng-container>
      </gridster-item>
    </gridster>
  </div>
  <div class="dashboard__debug">
    <div>
      <div>Button will be disabled if condition from all components are not fullfiled</div>
      <button type="button" [disabled]="!areAllValid">Some action</button>
    </div>
    <pre>{{ layoutPreview | json }}</pre>
  </div>
</div>
