.dashboard {
  display: flex;
  height: 100vh;
}

.dashboard__area {
  flex: 1;
  position: relative;
}

.dashboard__debug {
  width: 200px;
  flex-shrink: 0;
  padding: 20px;

  pre {
    margin: 0;
  }
}
